<md-toolbar color="secondary">
  <span>Awesome Tech Communities</span>
  <md-icon class="example-icon">favorite</md-icon>
  <a md-raised-button href="https://github.com/WeRockTech/awesome-tech-communities" target="_blank">Contibute on GITHUB</a>
</md-toolbar>

<md-card *ngFor="let community of communities">
  <md-card-header>
    <img md-card-avatar src="{{ community.logo }}">
    <md-card-title>
      {{ community.name }}
      <md-icon *ngIf="community.codeOfConduct" mdTooltip="Code of Conduct">security</md-icon>
    </md-card-title>
    <md-card-subtitle>{{ community.levels.join(', ') }}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>{{ community.description }}</p>
    <md-chip-list>
      <md-chip *ngFor="let tag of community.tags">{{ tag }}</md-chip>
    </md-chip-list>
  </md-card-content>
  <md-card-actions>
    <a md-raised-button *ngIf="community.url" [href]="community.url" target="_blank">WEBSITE</a>
    <a md-raised-button *ngFor="let social of community.social" [href]="social.url" target="_blank">{{ social.name | uppercase }}</a>
  </md-card-actions>
</md-card>
